PORT=8000
NODE_ENV=NODE_ENV

BASE_API_URL=http://localhost:8000
HEALTH_CHECK_API_URL=http://localhost:8000/api/v1/health

MONGO_USERNAME=username
MONGO_PASSWORD=password
MONGO_DB_NAME=dbName

BCRYPT_ROUNDS=12
COOKIE_SECRET=your_super_secret_cookie_key

CORS_ORIGIN=http://localhost:3000

JWT_ACCESS_SECRET=your_super_secret_cookie_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_refresh_key
JWT_REFRESH_EXPIRES_IN=7d

APP_NAME=backend_starter
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

EMAIL_FROM=your@mail.com
EMAIL_SERVICE=gmail
EMAIL_USER=user_name
EMAIL_PASSWORD=password

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
